 <span style="color:green;font-weight:1000;font-size:60px;text-align:center">
    Fake News Detection 
</span>
 <span style="color:red;font-weight:1000;font-size:40px">
     Using  NLP
</span>

![Fake news detection Phase 4 !](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI8jMwnDuiAB012bA0BsnGwwaxLUkg7nDGqyMjZTz_H-UwKTxMLV6xeF0Sj93WSCAcEBk&usqp=CAU  "Fake Img")

<span style="color:black;font-weight:1000;font-size:30px;text-align:center">
    Load the
</span>
 <span style="color:blue;font-weight:1000;font-size:30px">
     True.csv
</span>
 <span style="color:black;font-weight:1000;font-size:30px;text-align:center">
    Dataset
</span>

 * ***Check the shape***
 * ***missing values***
 * ***statistics of numerical columns***
 * ***Count the number of unique values***

In [9]:
import pandas as pd

# Load the true.csv dataset
true_data = pd.read_csv('C:/Users/Abdul/Downloads/archive/True.csv')

# Display the first few rows of the dataset to get an overview
true_data.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [10]:
# Check the shape (number of rows and columns)
true_data.shape

(21417, 4)

In [11]:
# Check the data types and missing values
true_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

In [12]:
# Summary statistics of numerical columns
true_data.describe()

,title,text,subject,date
count,21417,21417,21417,21417
unique,20826,21192,2,716
top,Factbox: Trump fills top jobs for his administ...,(Reuters) - Highlights for U.S. President Dona...,politicsNews,"December 20, 2017"
freq,14,8,11272,182

In [13]:
# Count the number of unique values in each column
true_data.nunique()

title      20826
text       21192
subject        2
date         716
dtype: int64

<span style="color:black;font-weight:1000;font-size:40px;text-align:center">
    Load the
</span>
 <span style="color:blue;font-weight:1000;font-size:40px">
     Fake.csv
</span>
 <span style="color:black;font-weight:1000;font-size:40px;text-align:center">
    Dataset
</span>

 * ***Check the shape***
 * ***missing values***
 * ***statistics of numerical columns***
 * ***Count the number of unique values***

In [14]:
# Load the false.csv dataset
false_data = pd.read_csv('C:/Users/Abdul/Downloads/archive/Fake.csv')

# Display the first few rows of the dataset to get an overview
false_data.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [15]:
# Check the shape (number of rows and columns)
false_data.shape

(23481, 4)

In [16]:
# Check the data types and missing values
false_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [17]:
# Summary statistics of numerical columns
false_data.describe()

,title,text,subject,date
count,23481,23481,23481,23481
unique,17903,17455,6,1681
top,MEDIA IGNORES Time That Bill Clinton FIRED His...,,News,"May 10, 2017"
freq,6,626,9050,46

In [18]:
# Count the number of unique values in each column
false_data.nunique()

title      17903
text       17455
subject        6
date        1681
dtype: int64

<span style="color:blue;font-weight:1000;font-size:40px">
     Data Preprocessing
</span>

- ***Data Cleaning***
- ***Text Preprocessing***
- ***Tokenization***
- ***Lowercasing***
- ***Stopword Removal***
- ***Stemming or Lemmatization***

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import LabelEncoder

# Load the datasets
true_data = pd.read_csv('C:/Users/Abdul/Downloads/archive/True.csv')
fake_data = pd.read_csv('C:/Users/Abdul/Downloads/archive/Fake.csv')

# Create labels for the data
true_data['label'] = 'real'
fake_data['label'] = 'fake'

# Concatenate the data into a single DataFrame
data = pd.concat([true_data, fake_data], ignore_index=True)

# Shuffle the data
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

# Split the data into training and testing sets
X = data['text']
y = data['label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Preprocess the text data using TF-IDF vectorization
tfidf_vectorizer = TfidfVectorizer(max_features=5000)
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Encode the labels
label_encoder = LabelEncoder()
y_train_encoded = label_encoder.fit_transform(y_train)
y_test_encoded = label_encoder.transform(y_test)

<span style="color:red;font-weight:1000;font-size:30px">
     Text Classification
</span>

**Choose a classification algorithm. Common choices include:**
- **Naive Bayes:** ***A simple, probabilistic algorithm.Support Vector Machines (SVM): Effective for binary classification tasks.***
- **Random Forest:** ***An ensemble learning method.Deep Learning: Use neural networks, such as Convolutional Neural Networks (CNNs) or Recurrent Neural Networks (RNNs).***

<span style="color:red;font-weight:1000;font-size:30px">
     Model Training
</span>

***Split your dataset into training and testing sets to evaluate the model's performance.
Train the chosen classifier on the training data.***

<span style="color:red;font-weight:1000;font-size:30px">
     Model Evaluation
</span>

***Evaluate the model's performance using metrics like accuracy, precision, recall, F1-score, and AUC-ROC.
Perform cross-validation for more robust results.***

In [7]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Initialize and train the model
model = MultinomialNB()
model.fit(X_train_tfidf, y_train_encoded)

# Predict the labels on the test set
y_pred = model.predict(X_test_tfidf)

# Evaluate the model
accuracy = accuracy_score(y_test_encoded, y_pred)
report = classification_report(y_test_encoded, y_pred, target_names=label_encoder.classes_)
confusion = confusion_matrix(y_test_encoded, y_pred)

print(f"Accuracy: {accuracy:.2f}")
print("\nClassification Report:\n", report)
print("\nConfusion Matrix:\n", confusion)

Accuracy: 0.93

Classification Report:
               precision    recall  f1-score   support

        fake       0.93      0.94      0.93      4669
        real       0.93      0.93      0.93      4311

    accuracy                           0.93      8980
   macro avg       0.93      0.93      0.93      8980
weighted avg       0.93      0.93      0.93      8980


Confusion Matrix:
 [[4373  296]
 [ 315 3996]]